/* breakpoints */


/* background */
body {
    background-color: pink;
    display: block;
}

/* navigation bar */
.nav-link { /* navigation links */
    font-size: 18px;
    font-weight: 600;
    color: grey;
}
.nav-link:hover {
    background-color: lightblue;
    border-radius: 3px;
}
a.nav-link {
    border-bottom: 3px solid grey;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
    margin: 3px 10px 5px 10px;
}
a.active { /* if a navigation link is active */
    color: black;
    border-bottom: 3px solid black;
}

/* website layout */
.box1 { /* name, career title, picture */
    height: 500px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    
}
.box2, .box3, .box4, .box5, .box6 {
    height: 500px;
}
.box1, .box3, .box5 {
    background-color: yellow;
    border: 3px solid black;
}
.box2, .box4, .box6 {
    background-color: orangered;
    border: 3px solid green;
}

/* first section: name and career title */
.box1-text {
    /* margin: 0px 0px; */
    border: 3px solid blue;
}
.box1-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* margin: auto; */
    display: block;
    background-color: black;
    border: 3px solid green;
    z-index: 1;
    /* top:0%; */
    /* left:0%; */
}


/* 
.card::after{
content: ' ';
position: absolute;
height: 100%;
width: 100%;
background-image: conic-gradient(red, white, )
top: 50%;
left: 50%;
translate: -50% -50%;
z-index: -1;
padding: 3px;
border-radius: 10px;

*/